[user]
	name = Ynng
	email = 44907675+Ynng@users.noreply.github.com
[core]
	autocrlf = input
[credential]
	#helper = cache
	# Or use this one if you trust the machine 
	helper = store
[color]
	ui = auto
