# Machine specific settings, just for my Linux PC at home
export DENO_INSTALL="/home/wenqi/.deno"
export PATH="$DENO_INSTALL/bin:$PATH"

export PATH=/usr/local/cuda-12.0/bin:$PATH

# LD_LIBRARY_PATH could be not set yet
if [ -z "$LD_LIBRARY_PATH" ]; then
  export LD_LIBRARY_PATH=/usr/local/cuda-12.0/lib64
else
  export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/cuda-12.0/lib64
fi

# export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/nccl_2.17.1-1+cuda11.0_x86_64/lib
export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/nccl_2.17.1-1+cuda12.0_x86_64/lib
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
